$primary_clr : #6675f7 ;
$secondary_clr :  #57007b ;
$tertiary_clr : #4a5568 ;
$quaternary_clr : #de4396;
$quinary_clr : #3d63ea;
$sextenary_clr : #f76680;
$septenary_clr : rgba(13,28,159,0.5);
$octonary_clr : #406aff;
$ninth_clr : #f9f9ff;

$primary_dev_clr_linear: #ff92ae;
$primary_dev_clr_linear_2: #ff3d9a;
$secondary_dev_clr_linear: #ffef5e;
$secondary_dev_clr_linear_2: #f7936f;
$tertiary_dev_clr_linear: #68dbf2;
$tertiary_dev_clr_linear_2: #509cf5;
$quaternary_dev_clr_linear: #67e9f1;
$quaternary_dev_clr_linear_2: #24e795;
$quinary_dev_clr_linear: #f76680;
$quinary_dev_clr_linear_2: #57007b;

$primary_font : 'Inter', sans-serif;