$primary_clr : #6675f7 ;
$secondary_clr :  #57007b ;
$tertiary_clr : #4a5568 ;
$quaternary_clr : #de4396;
$quinary_clr : #3d63ea;
$sextenary_clr : #f76680;
$septenary_clr : rgba(13,28,159,0.5);
$octonary_clr : #406aff;
$ninth_clr : #f9f9ff;

$primary_font : 'Inter', sans-serif;