@use 'bases';

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    
}

@mixin flex( $flex: flex, $dir: row, $items: center, $content: center){
    display: $flex;
    flex-direction: $dir;
    align-items: $items;
    justify-content: $content;
}

@mixin btn_design ($w: 100px, $h:30px, $bg: gray, $color: #fff, $border: 5px){
    width: $w;
    height: $h;
    background-color: $bg;
    color: $color;
    border-radius: $border;
    cursor: pointer;
}

@mixin card_design($h: 250px, $w: 300px, $bg: #FAFAFA, $border: 7px){
    height: $h;
    width: $w;
    background-color: $bg;
    border-radius: $border;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    font-family: bases.$primary_font;
}

.navbar{
    @include flex($content: space-between);
    padding: 0px 50px;
    height: 80px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    .logo{
        height: 50px;
    }
    .icon_nav{
        display: none;
    }
    .links{
        @include flex($content: space-around);
        width: 750px;
        color: bases.$tertiary_clr;
        font-family: bases.$primary_font;
        font-size: 16px;
        font-weight: 500;
    }
    .btn_nav{
        @include btn_design($h: 45px, $w: 130px, $border: 5px, $bg: none, $color: #fafafa);
        @include flex();
        font-size: 14px;
        font-weight: semibold;
        font-family: bases.$primary_font;
        background: linear-gradient(to bottom left, bases.$primary_clr, bases.$secondary_clr);
    }
}

.header{
    @include flex();
    margin-top: 70px;
    width: 100%;
    .text_header{
        @include flex($dir: column, $content: flex-start, $items: flex-start);
        gap: 50px;
        width: 500px;
        .title{
            font-family: bases.$primary_font;
            font-size: 26px;
            h1{
                font-weight: lighter;
            }
            span{
                font-weight: bold;
            }
            .clr_header{
                background: linear-gradient(to bottom, bases.$quaternary_clr, bases.$septenary_clr);
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                color: transparent;
            }
            .clr_header_2{
                background: linear-gradient(to bottom left, bases.$sextenary_clr, bases.$octonary_clr);
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                color: transparent;
            }
        }
        .img_header_responsive{
            display: none;
        }
        .subtitle{
            font-size: 18px;
            font-family: bases.$primary_font;
            color: bases.$tertiary_clr;
        }
        .btn_header{
            @include btn_design($w: 175px, $h: 50px,$bg: bases.$quinary_clr);
            @include flex();
            font-size: 14px;
            font-family: bases.$primary_font;
            box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.15);
        }
    }
}

.section_services{
    @include flex($dir: column,$content: space-between);
    padding: 50px 0px;
    height: 600px;
    background-color: bases.$ninth_clr;
    .titles_services{
        font-family: bases.$primary_font;
        font-size: 22px;
        font-weight: bold;
    }
    .container{
        @include flex();
        gap: 40px;
        .card_services{
            @include card_design();
            @include flex($dir: column, $items: flex-start);
            padding: 10px 10px;
            gap: 20px;
            .subtitle_card_responsive{
                display: none;
            }
        }
        .card_services_v{
            @include card_design();
            @include flex($dir: column, $items: flex-start);
            padding: 10px 10px;
            margin-top: 50px;
            gap: 20px;
            border: solid 1px black;
            border-image: linear-gradient(to bottom left, bases.$sextenary_clr, bases.$secondary_clr);
            border-image-slice: 1;
            .gradient_text{
                background: linear-gradient(to bottom left, bases.$sextenary_clr, bases.$secondary_clr);
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                color: transparent;
            }
            .subtitle_card_responsive{
                display: none;
            }
        }
    }
    .index_carrousel{
        @include flex($content:flex-end);
        width: 100%;
        margin-right: 750px;
        .index{
            @include flex($content: flex-start);
            width: 300px;
        }
        .index_2{
            @include flex($content: flex-end);
            width: 300px;
        }
    }
}

.section_video{
    @include flex();
    height: 600px;
    margin-top: 50px;
    .container_2{
        @include flex($items: flex-start);
        width: 1300px;
        gap: 250px;
        .block_text{
            @include flex($dir: column, $items:flex-start);
            width: 350px;
            gap: 35px;
            .title_2{
                font-family: bases.$primary_font;
                font-size: 28px;
            }
            .subtitle_2{
                font-family: bases.$primary_font;
                font-size: 20px;
                color: #718096;
                span{
                    background: linear-gradient(to bottom left, bases.$sextenary_clr, bases.$secondary_clr);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    color: transparent;
                }
            }
            .links_info{
                @include flex();
                gap: 20px;
                font-family: bases.$primary_font;
                font-size: 18px;
                color : bases.$secondary_clr;
                .logo_ytb{
                    display: none;
                }
            }
        }
        .video{
            width: 600px;
            height: 450px;
            border-radius: 15px;
            background-image: url(images/Abou-us-Video.png);
        }
    }
}

.section_coworker{
    @include flex($dir: column);
    .container_3{
        @include flex($items: flex-start, $content: space-between);
        height: 200px;
        width: 1300px;
        .block_text_partner{
            width: 300px;
            @include flex($dir: column, $items: flex-start);
            font-family: bases.$primary_font;
            font-size: 26px;
            gap: 20px;
        }
        .arrow_partner{
            @include flex();
            gap: 40px;
            margin-top: 125px;
        }
    }
    .partner{
        @include flex($content: space-around);
        width: 100%;
        height: 150px;
        background-color: bases.$ninth_clr;
    }
}


@media screen and (max-width: 820px) {
    .navbar{
        padding: 0px 25px;
        .logo{
            height: 30px;
        }
        .links{
            width: 500px;
            font-size: 14px;
        }
        .btn_nav{
            @include btn_design($h: 35px, $w: 100px);
            font-size: 12px;
        }
    }

    .header{
        @include flex($content: flex-start, $items: flex-start);
        margin-top: 50px;
        margin-left: 25px;
        .text_header{
            gap: 50px;
            width: 340px;
            .title{
                font-size: 18px;
            }
            .subtitle{
                font-size: 14px;
            }
            .btn_header{
                @include btn_design($w: 125px, $h: 40px, $bg: bases.$quinary_clr);
                font-size: 12px;
            }
        }
        .img_header{
            @include flex($content: flex-end);
            scale: 0.3;
            width: 250px;
        }
    }
    .section_services{
        height: 400px;
        padding: 50px 0px;
        .titles_services{
            font-size: 20px;
        }
        .container{
            gap: 20px;
            .card_services{
                @include card_design($w:150px, $h:125px);
                font-size: 12px;
                padding: 10px 10px;
                gap: 10px;
                .subtitle_card_responsive{
                    display: block;
                }
                .subtitle_card{
                    display: none;
                }
            }
            .card_services_v{
                @include card_design($w:150px, $h:125px);
                font-size: 12px;
                gap: 10px;
                .subtitle_card_responsive{
                    display: block;
                }
                .subtitle_card{
                    display: none;
                }
            }
        }
        .index_carrousel{
            @include flex($content: center);
            margin-right: 0px;
            .index{
                @include flex($content:center);
                width: 150px;
            }
            .index_2{
                display: none;
            }
        }
    }
    .section_video{
        height: 400px;
        margin-top: 25px;
        .container_2{
            @include flex();
            width: 800px;
            gap: 50px;
            .block_text{
                width: 260px;
                gap: 35px;
                .title_2{
                    font-size: 20px;
                }
                .subtitle_2{              
                    font-size: 14px;                  
                }
                .links_info{
                    font-size: 12px;
                }
            }
            .video{
                width: 400px;
                height: 300px;
                background-size: cover;
            }
        }
    }
    .section_coworker{
        @include flex($dir: column);
        .container_3{
            @include flex($items: flex-start, $content: space-between);
            height: 200px;
            width: 700px;
            .block_text_partner{
                margin-top: 75px;
            }
        }
        .partner{
            height: 350px;
            flex-wrap: wrap;
        }
    }
}


@media screen and (max-width: 430px) {
    .navbar{
        @include flex($content: space-around);
        .logo{
            height: 50px;
        }
        .icon_nav{
            display: flex;
            height: 50px;
        }
        .links{
            display:none;
        }
        .btn_nav{
            display: none;
        }
    }

    .header{
        @include flex($dir: column,);
        width: 400px;
        .text_header{
            @include flex($dir:column,$content:center);
            text-align: center;
            width: 340px;
            .title{
                font-size: 18px;
            }
            .img_header_responsive{
                display:flex;
                justify-content: center;
                width: 200px;
                scale: 0.5;
            }
            .subtitle{
                display: none;
            }
            .btn_header{
                @include btn_design($w: 125px, $h: 40px, $bg: bases.$quinary_clr);
                font-size: 12px;
            }
        }
        .img_header{
            display: none;
        }
    }

    .section_services{
        @include flex($dir:column, $content: center);
        height: 300px;
        padding: 0px;
        gap: 30px;
        .titles_services{
            font-size: 18px;
        }
        .container{
            gap: 20px;
            .card_services{
                display: none;
            }
            .card_services_v{
                @include card_design($w:150px, $h:125px);
                font-size: 12px;
                margin-top: 0px;
                gap: 10px;
                .subtitle_card_responsive{
                    display: block;
                }
                .subtitle_card{
                    display: none;
                }
            }
        }
        .index_carrousel{
            @include flex($content: center);
            margin-right: 0px;
            .index{
                @include flex($content:center);
                width: 150px;
            }
            .index_2{
                display: none;
            }
        }
    }
    .section_video{
        height: 400px;
        margin-top: 25px;
        .container_2{
            .video{
                display: none;
            }
        }
    }
    .section_coworker{
        @include flex($dir: column);
        .container_3{
            @include flex($items: flex-start);
            height: 200px;
            width: 100%;
            .block_text_partner{
                margin-top: 50px;
            }
        }
        .partner{
            height: 350px;
            flex-wrap: wrap;
        }
    }
}